.idea/


/1-2_programming/labs/lab1/lab1.iml
/1-2_programming/labs/lab1/.idea/
/1-2_programming/labs/lab1/out/

/1-2_programming/labs/lab2/.idea/
/1-2_programming/labs/lab2/out/
/1-2_programming/labs/lab2/lab2.iml

/1-2_programming/labs/lab3-4/.idea/
/1-2_programming/labs/lab3-4/out/

/1-2_programming/labs/lab5/.idea/
/1-2_programming/labs/lab3-4/.env

/1-2_OPD/labs/lab1/lab0/


/1-2_discrete_math/tasks/task3/.vscode
/1-2_discrete_math/tasks/task3/dm_code/
/1-2_discrete_math/tasks/task3/mn
/1-2_discrete_math/tasks/task3/results/
/1-2_discrete_math/tasks/task3/test_mn/

/1-2_discrete_math/tasks/task4/main
/1-2_discrete_math/tasks/task4/build/
/1-2_discrete_math/tasks/task4/a.out


/1_informatics/labs/lab4/venv/
/1_informatics/labs/lab4/__pycache__/

/.vscode/