help
info
add
МояСуперКвартира
10
20
55
2
FINE
PARK
NORMAL
МойДом
15
2
show
begin
clear
show
rollback
show
begin
add
ТестоваяКвартира2
-5
15
40
1
NONE
STREET
NONE
ВторойДом
10
1
commit
show
commit
begin
begin
rollback